* {
	transition: 0.2s ease-in-out;
}

html {
	width: 100%;
	height: 100%;
}

body {
	font-size:  100%;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	width:  100%;
	height:  100%;
	background: #F2F2F2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2);
	background: -o-linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2);
	background: linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	display: flex;
	justify-content: center;
	align-items: center;
}


.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1em;
}

@media screen and (min-width: 577px) {
	.app-container {
		font-size: 1.125em;
		width: 17em;
	}
}

@media screen and (min-width: 769px) {
	.app-container {
		font-size: 1.25em;
		width: 29.2em;
	}
}

@media screen and (min-width: 961px) {
	.app-container {
		font-size: 1.5em;
		width:  33em;
	}
}

@media screen and (min-width: 1441px) {
	.app-container {
		font-size: 1.75em;
		width: 29em;
	}
}

.app-logo {
	width: 2.5em;
}

.app-icon {
	height: auto;
	width: 100%;
}

.app-icon:hover {
	transform: rotate(-60deg)
}

.app-result {
	position: relative;
	width: 15em;
	height: 15em;
	padding:  0.5em;
	margin-top: 2em;
	margin-bottom: 2em;
	border-radius:  50%;
	background: #8E2DE2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.app-num {
	width: 100%;
	font-size: 4em;
	text-align: center;
	color: #F2F2F2;
}

.app-currency {
	position: absolute;
	bottom:  20%;
	text-transform: uppercase;
	color: #EAEAEA;
}

.app-io {
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.app-input-group {
	margin-bottom: 1em;
}

.app-input-group,
.app-input-group label,
.app-amt,
.app-select {
	display: block;
}

.app-input-group label {
	font-size:  0.5em;
	font-weight: 700;
	color: #8E2DE2;
	text-transform: uppercase;
	padding-bottom: 0.5em;
}

.app-input-group,
.app-btn {
	width: 100%;
}

.app-amt,
.app-select {
	width: 100%;
	font-family: inherit;
	color: #4D4D4D;
	padding: 0.75em 1em;
	border-color: #8E2DE2;
}

.app-amt {
	border-width: 1px;
}

.app-select {
	text-transform: uppercase;
}

.app-btn {
	font-size: 0.75em;
	font-weight: 900;
	text-transform: capitalize;
	color: #F2F2F2;
	border: none;
	border-radius: 0.5em;
	background: #8E2DE2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-top: 0.5em;
	padding: 0.845em;
	cursor: pointer;
}

@media screen and (min-width: 577px) {
	.app-io {
		width: 20em;
	}

	.app-input-group:nth-of-type(2),
	.app-input-group:nth-of-type(3) {
		width: 48%;
	}
}